#navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    height: auto;
}

#interests .items {
    flex-direction: column;
}

#interests .items .item {
    width: 90%;
}

.menu-toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    align-self: flex-end;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    #menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #303B41;
        text-align: center;
    }

    #menu.active {
        display: flex;
    }
}

#menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background: var(--secondary-bg);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1rem 0;
    text-align: center;
}

#menu.active {
    display: flex;
}

#interests .items {
    flex-direction: column;
  }
  .games {
    flex-direction: column;
    align-items: center;
  }
  