#navbar {
    flex-direction: column;
    padding: 1rem 0;
    overflow: hidden;
    height: 100px;
}

#interests .items {
    flex-direction: column;
}

#interests .items .item {
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    #menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #303B41;
        text-align: center;
    }

    #menu.active {
        display: flex;
    }
}